:root{
  --light-blue:rgb(230, 250, 252);
  --cyan:rgb(51, 101, 138);
	--black:rgb(28, 17, 10);
}

/* grid */

.row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: max-content;
  position: relative;
  width: 100%;
}

.col-1{
  grid-column: span 1;
}

.col-2{
  grid-column: span 2;
}

.col-3{
  grid-column: span 3;
}

.col-4{
  grid-column: span 4;
}

.col-5{
  grid-column: span 5;
}

.col-6{
  grid-column: span 6;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* general */

* {
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

html{
  font-size: 16px;
  height:100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 5rem;
  background: var(--cyan);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  color: var(--light-blue);
}

main{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height:calc(100vh - 10rem);
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 5rem;
  background: var(--cyan);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

footer p {
  color: var(--black);
}

a {
  color: var(--light-blue);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Bold', sans-serif;
  color: var(--black);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - (10rem));
}

#home-icon{
  width: 2rem;
  fill: var(--black);
}

.hover{
  transition: all .2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.hover:hover{
  opacity: .5;
  transform: translateY(.25rem);
}

.btn{
  color: var(--light-blue);
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-size: 1rem;
  padding: .2rem;
}

.btn:hover{
  background-color: var(--black);
}

#footer-logo {
  height: 1rem;
}

/* Media Queries*/

@media screen and (max-width: 750px){
  .col-1{
    grid-column: span 6;
  }
  
  .col-2{
    grid-column: span 6;
  }
  
  .col-3{
    grid-column: span 6;
  }
  
  .col-4{
    grid-column: span 6;
  }
  
  .col-5{
    grid-column: span 6;
  }
  
  .col-6{
    grid-column: span 6;
  }

  .spacer{
    display: none;
  }
}