:root{
  --light-blue:rgb(230, 250, 252);
  --cyan:rgb(51, 101, 138);
	--black:rgb(28, 17, 10);
}

#main{
  background-color: var(--black);
  color: var(--light-blue);
}

h1{
  color: var(--light-blue);
}